#puzzle-pukeutuminen{
	background-image: url('../img/HouseBckg.png');
	background-size: 100% 100%;
	
}

#puku-ukko{
	position: absolute;
	width: 200px;
	height: 250px;

	left: 613px;
	top: 348px;
}

#puku-ukko img{
	width: 100%;
	height: 100%;
}

#ukko-paa{
	height: 70%;
	width: 70%;
	
	position: absolute;
	top: -10%;
	left: 15%;	
}

#ukko-liivit{
	width: 62%;
	height: 25%;
	position: absolute;
	top: 53%;
	left: 20%;

}

#ukko-heijastin{
	width: 20%;
	height: 20%;

	position: absolute;
	left: 10%;
	bottom: 5%;	
}

#ukko-jalat{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0px;

}

#pipo{
	position: absolute;
	left: 58px;
	top: 293px;
}

#takki{
	position: absolute;
	left: 31px;
	top: 406px;
}

#heijastin{
	position: absolute;
	left: 128px;
	top: 455px;
}

#kengat{
	position: absolute;
	top: 559px;
	left: 10px;
}