.pane-selector{
	position: absolute;
	top: 0px;
	left: 0px;

	height: 64px;
	width: 100%;
	overflow: hidden;
}
.pane-selector>div{
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	
}

.pane-selector>div:hover{
	opacity: 0.4;
}

.pane p{
	font-size: 400px;
}

.pane-selector h3{
	font-size:20pt;
	color: #444;
	text-align: center;
}

.pane-select.selected{
	text-decoration: underline;
}

.puzzle{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
}